body{
    color: white;
    
}

.cont{
   width: 390px; 
   max-width: 390px;
   height: 2000px;
   max-height: 2000px;
   background-color: rgb(15, 3, 58);
   align-items: center;
   color: white;
   margin: -8px;
}
.a{
    color: orangered;
    text-decoration: none;
    width: 100px;
    max-width: 100px;
       display: block;
       word-spacing: 20px;
       transition: 2s;
       text-decoration: none;
}
.a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.log{
 
    color: rgb(221, 68, 12);
   width: 100px;
   max-width: 100px;
    position: relative;
    top: 20px;
    left: 15px;
}

.img{
    width: 25px;
    height: 30px;
    position: relative;
    left: 45px;
    bottom: 3px;
    max-width: 25px;

}
.n{
    color: orangered;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 250px;
    bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.n:hover{
    color: white;
    text-decoration: underline;
}
.f{
    width: 390px;
    max-width: 390px;
    height: 70px;
    max-height: 50px;
 font-weight: bold;
   
}
hr{
    color: orangered;
    position: relative;
    bottom: 30px;
    width: 385px;
    max-width: 390px;
}
.e{
    color: orangered;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 230px;
    bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.e:hover{
    color:white ;
    text-decoration: underline;
}
.s{
    color: orangered;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 200px;
    bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.s:hover{
    color: white;
    text-decoration: underline;
}
.t{
    color: orangered;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 170px;
    bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.t:hover{
    color: white;
    text-decoration: underline;
}
h1{
    color: orangered;
    position: relative;
    top: 5px;
    left: 120px;
    width: 150px;
}
h2{
    color: rgb(255, 255, 255);
    position: relative;
    top: -25px;
    left: 230px;
    width: 60px;
}
.img2{

    width: 70px;
    height: 70px;
    position: relative;
    top: 30px;
    left:150px ;
}
.ima1{
    width: 170px;
    height: 230px;
    position: relative;
    left: 200px;
    top: 40px;
    border-radius: 10px;

}
.h{
    width: 70px;
    font-weight: bold;
    position: relative;
    right: 31px;
    bottom:95px
}
h3{
    font-size: 25px;
    color: orangered;
    position: relative;
    bottom: 135px;
    left: 50px;
    width: 60px;
}
.ima2{
    width: 170px;
    height: 230px;
    position: relative;
    left: 20px;
    top: 80px;
    border-radius: 10px;

}
.h1{
    width: 70px;
    font-weight: bold;
    position: relative;
    left:31px;
    bottom:95px
    
}
.h3{
    font-size: 25px;
    color: orangered;
    position: relative;
    bottom: 135px;
    left: 290px; 
}
.ima3{
    width: 170px;
    height: 230px;
    position: relative;
    left: 200px;
    top: 150px;
    border-radius: 10px;

}
.but{
    background-color: orangered;
    border-color: orangered;
    position: relative;
    top: 80px;
    left: 55px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-decoration: none;
    transition: 2s;
    border-radius: 10px;
}
.but:hover{
    background-color: blue;
}
.af1{
    text-decoration: none;
    color: white;
    widows: 20px;
}
.but1{
    background-color: orangered;
    border-color: orangered;
    position: relative;
    top:120px;
    left: -130px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-decoration: none;
    transition: 2s;
    border-radius: 10px;
}
.but1:hover{
    background-color: blue;
}
.af2{
    text-decoration: none;
    color: white;
    widows: 20px;
}
.but2{
    background-color: orangered;
    border-color: orangered;
    position: relative;
    top: 190px;
    left: 55px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-decoration: none;
    transition: 2s;
    border-radius: 10px;
}
.but2:hover{
    background-color: blue;
}
.af3{
    text-decoration: none;
    color: white;
    widows: 20px;
}
.ima4{
    width: 190px;
    height: 200px;
    position: relative;
    left: 20px;
    top: 200px;
    border-radius: 10px;

}
.but3{
    background-color: orangered;
    border-color: orangered;
    position: relative;
    top: 240px;
    left: -130px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-decoration: none;
    transition: 2s;
    border-radius: 10px;
}
.but3:hover{
    background-color: blue;
}