body{
    color: white;
}

.cont{
   width: 400px; 
   max-width: 400px;
   height: 2000px;
   max-height: 2000px;
   background-color: rgb(15, 3, 58);
   align-items: center;
   color: white;
   margin: -8px;
}
.a{
    color: orangered;
    text-decoration: none;
    width: 100px;
    max-width: 100px;
       display: block;
       word-spacing: 20px;
       transition: 2s;
       text-decoration: none;
}
.a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.log{
 
    color: rgb(221, 68, 12);
   width: 100px;
   max-width: 100px;
    position: relative;
    top: 20px;
    left: 15px;
}

.img{
    width: 25px;
    height: 30px;
    position: relative;
    left: 45px;
    bottom: 3px;
    max-width: 25px;

}
.n{
    color: orangered;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    left: 350px;
    bottom: 27px;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.n:hover{
    color: white;
    text-decoration: underline;
}
.f{
    width: 400px;
    max-width: 400px;
    height: 70px;
    max-height: 50px;
 font-weight: bold;
   
}
hr{
    color: orangered;
    position: relative;
    bottom: 20px;
}